/* Importing the Nanum Gothic Coding google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Colors used on page */
/* #f4f4f4 */
/* #eb4442 */
/* #e6e6e6 */
/* #2d2b3e */

/* Basic Styles */
body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin: 0;
    line-height: 1.5;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    /* The overflow property determines what to do if content overflows an element's box. Setting overflow to hidden will hide/clip the overflowing content. */
    overflow: hidden;
}

ul {
    margin: 0;
}

.btn-1 {
    height: 38px;
    background-color: #eb4442;
    border: 0;
    padding: 0px 20px;
    color: white;
    border-radius: 5px;
}

.light,
.dark {
    padding: 15px;
    margin: 10px 0;
}

.light {
    background-color: #e6e6e6;
    color: #2d2b3e;
}

.dark {
    background-color: #2d2b3e;
    color: #e6e6e6;
}

/* header */
header {
    background-color: #2d2b3e;
    color: #e6e6e6;
    /*  */
    min-height: 70px;
    border-bottom: 3px solid #eb4442;
    padding: 5px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    align-items: center;
    /* Changing/increasing the amount of vertical space the ul takes up so the li elements can be centered vertically */
    height: 100%;
}

header li {
    /* removes the bullet point on a list item */
    list-style: none;
    padding: 0 20px;
}

header a {
    color: #e6e6e6;
    text-decoration: none;
    text-transform: uppercase;
}

#highlight,
#current a {
    color: #eb4442;
    font-weight: 700;
}

/* selects all "a" elements expect for the "HOME" a-tag */
a:not(#current a):hover {
    color: #ccc;
    font-weight: 700;
    letter-spacing: 0.25px;
}

/* Showcase */
#showcase {
    background-image: url(laptop.png);
    height: 400px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    height: fit-content;
    padding-bottom: 10px;
}

#showcase .container {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#showcase h1 {
    font-size: 55px;
}

#showcase p {
    font-size: 20px;
}

/* Newsletter */
#newsletter {
    background-color: #2d2b3e;
    padding: 15px;
    color: #e6e6e6;
}

#newsletter .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#newsletter input {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Boxes */
#boxes {
    /* Fit content allows for the space (height in this case) to change to fit the content inside the element */
    height: fit-content;
}

#boxes .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-top: 15px;
}

.box {
    width: 30%;
    text-align: center;
    padding: 10px;
}

i {
    font-size: 225px;
    transition: all;
    transition-duration: 1s;
}

i:hover{
    transform: scale(1.2);
}

.fa-html5 {
    color: #d45632;
}

.fa-css3-alt {
    color: #2d50dc;
}

.fa-js {
    color: #f3df50;
}

/* About */
#about {
    background-color: #2d2b3e;
    padding: 20px;
    color: #fff;
}

#about .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
}

/* Services */
#services .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
}

#services ul {
    /* Removes left padding as well as bullet points */
    padding: 0;
}

#services li {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #e6e6e6;
}

#services .sidebar {
    margin-top: 50px;
}

#services input,
#services textarea {
    width: 90%;
    margin-bottom: 10px;
    padding: 5px;
}

footer {
    background-color: #2d2b3e;
    color: #e6e6e6;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    header .container,
    #newsletter .container,
    #boxes .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }
    header ul {
        padding: 0;
    }

    .box{
        width: 80%;
    }

    #about .container,
    #services .container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    #newsletter button{
        width: 260px;
        margin-top: 10px;  
    }
    #newsletter {
        text-align: center;
    }
}

@media (max-width: 450px) {
    #h1 {
        font-size: 25px;
    }

    #showcase h1{
        font-size: 50px;
    }
}